@import 'styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;
}
hr{
  margin: 20px 0;
  height: 3px;
  background-color: $gray;
  border-color: transparent;

}
